.intro-logo{
	width: 100%;
	height: 100%;
	margin-bottom: -5px;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    /* text-align: center; */
    overflow: hidden;
}
@font-face {
    font-family: 'Mi';
    src: url('../font/MiSans-Normal.ttf');
}
@font-face {
    font-family: 'Mi1';
    src: url('../font/MiSans-Bold.ttf');
}